<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Vote Comments

    <a data-toggle="collapse" href="#user_vote_comments_new_form">
      Add vote comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.vote_comments.each do |vote_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/vote_comments/<%= vote_comment.id %>">
          <%= vote_comment.voter_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
