<form action="/create_vote_comment_from_comment" method="post">

  <input type="hidden" name="voter_id" value="<%= current_user.id %>">

  <input type="hidden" name="comment_id" value="<%= @comment.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create vote comment
  </button>
</form>
