<% if @vote_comment.errors.any? %>
  <% @vote_comment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit vote comment #<%= @vote_comment.id %>
</h1>

<hr>

<form action="/update_vote_comment/<%= @vote_comment.id %>" method="post">


  <div class="form-group">
    <label for="comment_id">
      Comment
    </label>

    <%= select_tag(:comment_id, options_from_collection_for_select(Comment.all, :id, :review_id, @vote_comment.comment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vote comment
  </button>
</form>

<hr>

<a href="/vote_comments">
  Go back
</a>
