<% if @vote_comment.present? %>
  <% if @vote_comment.errors.any? %>
    <% @vote_comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new vote comment
</h1>


<hr>

<form action="/create_vote_comment" method="post">

  <input type="hidden" name="voter_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="comment_id">
      Comment
    </label>

    <%= select_tag(:comment_id, options_from_collection_for_select(Comment.all, :id, :review_id, @vote_comment.comment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vote comment
  </button>
</form>

<hr>

<a href="/vote_comments">
  Go back
</a>
