<form action="/create_tips_review_from_review" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @tips_review.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="review_id" value="<%= @review.id %>">

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @tips_review.amount %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create tips review
  </button>
</form>
